body{
margin:0px;
font-family: Georgia, Times, "Times New Roman", serif;
}

.banner{
	background-color: #824555;
	color:white;
	text-align:center;
	padding:20px;
}

.panel1{
	background-color: #A26475;
	color:white;
	width:30%;
	height:300px;
	float:left;
}

.panel3{
	background-color: #A26475;
	color:white;
	width:40%;
	height:300px;
	float:left;
	text-align:right;
}

.mainp{
	background-color: #F0EAE2;
	padding:50px;
	display:inline-block;
	width:100%;
}

.footer{
	background-color: #824555;
	color:white;
	padding:20px;
	text-align:center;
}

table, td, th{
	border:2px;
	border-style: solid;
	border-color: #69293A;
	border-collapse: collapse;
}