body{padding:0px;margin:0px;}

div{
    display:inline-block !important;
}

#BannerContainer{
    background-color:#829EB9;
    text-align:center;
    padding-top:10px;
    width:100%;
    height:80px;
}

#BannerContent{
    font-family: Arial, Helvetica, sans-serif;
}

#MiddleContainer{
    text-align:center;
    width:100%;
}

#LeftContent{
    background-color:#B3C6D9;
    height:500px;
    width:25%;
    padding-top:100px;
    font-size:20px;
    float:left;
}

#RightContent{
    background-color:#E0E9F1;
    height:500px;
    width:75%;
    font-size:20px;
    padding-top:100px;
}

#Footer{
    text-align:center;
    width:100%;
    height:50px;
    background-color:yellow;
}

#Footer p{
margin:8px;

}
