body {
	font-family: Georgia;
	margin: auto;
}
#bl, #bś, #bp, #sl, #sś, #sp{
	background-color: Sienna;
	color: white;
	height: 150px;
	float: left;
}
#bl, #sl{
	width: 40%;
}
#bś, #sś{
	width: 50%;
	font-size: 150%;
}
#bp, #sp{
	width: 10%;
	text-align: center;
}
#gl{
	background-color: Tan;
	padding: 100px;
}
a {
	border: 1px dashed Sienna;
	background-color: Tan;
	color: Sienna;
	padding: 40px;
	line-height: 150px;
}
li {
	list-style-type: circle;
}