body{margin:0px; font-family: "Helvetica Neue", sans-serif; overflow-x:hidden;}

#GL{
	background-color: RGB(130,69,85);
	color:white;
	width:30%;
	height:200px;
	text-align:center;
	display:inline-block;
} 

#GP{
	background-color: RGB(130,69,85);
	color:white;
	width:70%;
	height:200px;
	text-align:center;
	display:inline-block;
	float:right;
}

#PG{
	background-color: RGB(240,234,226);
	padding:120px;
	display:inline-block;
	width:100%;
}

#ST{
	background-color: RGB(240,234,226);
	padding:120px;
	display:inline-block;
	width:100%;
}

#BGL{
	background-color: RGB(130,69,85);
	color:white;
	width:30%;
	height:200px;
	text-align:center;
	display:inline-block;
}
#BGP{
	background-color: RGB(130,69,85);
	color:white;
	width:70%;
	height:200px;
	text-align:center;
	display:inline-block;
	float:right;
}

table,th{
	border-color: RGB(130,69,85);
	padding:10px;
	border-width:1px;
	border-style: solid;
	color: RGB(130,69,85);
}

a{color:RGB(240,234,226);}
